h1 {
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-size: 2.5rem; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
    border-radius: 5px; 
    font-weight: 700;
    padding: 5% 0px 20px 0px;
}